Django
django-auto-rest-project
django-braces
django-cors-headers
django-drf-file-generator
django-filter
django-jet
django-oauth-toolkit
django-rest-auth
django-rest-swagger
django-social-auth
django-url-filter
djangorestframework
django-rest-framework-social-oauth2
feedparser
google-api-python-client
Markdown
MySQL-python
oauth2client
oauthlib
openapi-codec
pyasn1
pyasn1-modules
requests
rsa
simplejson
